body {background-color: #EEEEEE}

h1 { font-size: 20pt; font-weight: bold; color:#330000}

td.navhead { width: 140px;}

.logintab {border-style: none;}

.logintab td {padding: 10px;}

.formlabel {width: 140px; test-align: right;}

.loginbox {width: 200px;}

.banner {background-color: #AACCCC}

.footer {font-size: 80%}

.signature {padding-left: 3in; }

.mockplayer {font-size: 24pt; color: #006622; }

ul.nobullet { list-style-type: none; }

.hidden {display: none; }

ul.instlist {list-style-type: none; }

ul.instlist li {float:left; width: 180px; }

div.menubar { background-color: #99EEEE; height: 120px;}

ul.menubar {list-style-type: none; }

ul.menubar li {float: left; width: 200px; }

.menubaruser {color:blue; font-size: 80%; }

.textbox {width: 600px; }

.submitbutton {background-color: #BBCCFF}

table.cliptable {padding-left: 30px; border-collapse: collapse;}

table.cliptable tr, table.cliptable td {border: 1px solid blue;}

table.editcliptable {padding-left: 30px;}

table.editusertable {border-collapse: collapse;}

.editusertable, .editusertable tr, .editusertable td {border: 1px solid blue;}

td.reportnav { width: 100px; }

.errormsg {color: red; font-weight: bold; font-size: 120%;}

.notice {color: blue; font-weight: bold; font-size: 120%;}

.flagged {color: red; font-weight: bold; font-style: italic; }